{% extends 'base.html' %}

{% load static %}

{% block content %}
  <!-- OPTIONS -->
  <section id="services" class="py-5 bg-secondary">
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col-md-3 d-flex align-items-stretch">
          <a class="card expand-card text-decoration-none" style="width: 15rem;" href="{% url 'wordruler_students' %}">
            <i class="fas fa-solid fa-ruler fa-4x mt-4"></i>
            <div class="card-body">
              <h5 class="card-title">Letter Ruler</h5>
              <p class="card-text">Prepare your letter ruler</p>
            </div>
          </a>
        </div>
        <div class="col-md-3 d-flex align-items-stretch">
          <a class="card expand-card text-decoration-none" style="width: 15rem;" href="#">
            <i class="fas fa-solid fa-chart-line fa-4x mt-4"></i>
            <div class="card-body">
              <h5 class="card-title">Analytics</h5>
              <p class="card-text">View student performance</p>
            </div>
          </a>
        </div>
        <div class="col-md-3 d-flex align-items-stretch">
          <a class="card expand-card text-decoration-none" style="width: 15rem;" href="#">
            <i class="fas fa-solid fa-child fa-4x mt-4"></i>
            <div class="card-body">
              <h5 class="card-title">Students</h5>
              <p class="card-text">Manage your students</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- END OF OPTIONS -->
  
  <!-- LESSONS -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Your Lessons</h3>
      <div class="row">
        {% if lessons %}

            {% for lesson in lessons %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                <img class="card-img-top" src="{{lesson.student.photo.url}}" alt="" style="width: 100%; height: 15vw; object-fit: cover;">
                <div class="card-body">
                    <div class="listing-heading text-center">
                    <h3 class="text-primary">{{ lesson.student.name }}</h3>
                    <h4 class="text-primary">{{ lesson.lesson_title }}</h4>
                    <p>
                        <i class="fas fa-map-marker text-secondary"></i> {{ lesson.student.address }}</p>
                    </div>
                    <hr>
                    <div class="row py-2 text-secondary">
                    <div class="col-8">
                        <i class="fas fa-user"></i> {{lesson.student.name}}</div>
                    </div>
                    <div class="row text-secondary pb-2">
                    <div class="col-8">
                        <i class="fas fa-clock"></i> {{ lesson.lesson_date }}</div>
                    </div>
                    <hr>
                    <a href="{% url 'lesson' lesson.id %}" class="btn btn-primary btn-block">View Lesson</a>
                </div>
                </div>
            </div>
            {% endfor %}

        {% else %}
            <div class="col-md-12">
                <p>No Lessons Available</p>
            </div>

        {% endif %}
      </div>
    </div>
  </section>
  <!-- END OF LESSONS-->

{% endblock %}