{% extends 'base.html' %}

{% block content %}



<!-- Banner Start -->
<section id="ruler-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4"><b>Letter Ruler</b></h1>
          <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, pariatur!</p>
        </div>
      </div>
    </div>
</section>
<!-- Banner End-->

<div id="vue-app"> [[ message ]] </div>

<!-- Ruler Start-->
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-3 mr-5 overflow-auto"  style="max-height: 50vw; overflow-y: scroll">
                <table class="table table-sm table-bordered text-center overflow-auto">
                    <thead class="table-info">
                    <tr>
                        <th>Letter</th>
                        <th>Image</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for key, letter in letter_dict.items %}
                            <tr>
                                <td class="align-middle"><p style="font-size:2.5em;"><b>{{ key }}</b></p></td>
                                <td class="align-middle">
                                    {% if letter %}
                                    <img class="btn" id="btn_{{ key }}" data-toggle="modal" data-target="#{{ key }}" src="{{ letter.letter_img.url }}" alt="{{ key }}" style="height: 100%; width: 7vw; object-fit: cover;">
                                    {% else %}
                                    <button class="btn btn-info" id="btn_{{ key }}" data-toggle="modal" data-target="#{{ key }}"><b>+</b></button>
                                    {% endif %}
                                </td>   
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col ml-5">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Preview:</h5>
                      <hr>
                      <p class="card-text">Manage your students</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Ruler End-->


<!-- Modal Start-->
<section>
    {% for key, letter in letter_dict.items %}
    <div class="modal fade" id="{{ key }}" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <form method="post" enctype="multipart/form-data">
                        <div class="row text-center mt-4">
                            {% if not letter %}
                                <div class="col mb-4">
                                    <h5>Please upload an image</h5>
                                </div>
                            {% else %}
                                <div class="containter px-4">
                                    <div class="row">
                                        {% for l in all_letters %}
                                            {% if l.letter == letter.letter %}
                                                <div class="col-md-4">
                                                    <label>
                                                        <input id="img-radio" type="radio" name="test" value="big">
                                                        <img src="{{ l.letter_img.url }}" alt="Option 2">
                                                    </label>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <hr>
                        <div class="row text-center mb-4">
                            <div class="col">
                                <button class="btn btn-primary"><b>Upload New</b></button>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
<!-- Modal End-->

<script>
    const app = Vue.createApp({
        el: '#vue-app',
        delimiters: ['[[', ']]'],
        data() {
          return {
            returned_task: '',
            new_task: '',
            create_modify: '',
            modify_id: -1,
            modify_index: -1,
            message: '',
          }
        },
        created() {
            this.message = 'Hello Vue';
        },
      });
      
      app.mount('#vue-app')
</script>

{% endblock %}