.btn-secondary {
  color: #fff !important; }

img {
  width: 100%; }

.logo {
  width: 80px; }

.navbar {
  text-transform: uppercase; }

.social a {
  margin-right: 0.4rem; }

#showcase {
  background: url(../img/showcase.jpg) no-repeat top center fixed;
  background-size: cover;
  position: relative;
  min-height: 650px;
  color: #fff;
  padding-top: 6rem; }
  #showcase .home-search {
    min-height: 400px;
    position: relative;
    border-radius: 5px; }
  #showcase .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
    width: 100%;
    background: rgba(51, 51, 51, 0.8); }

#services {
  background: url(../img/school_bg.jpg) no-repeat top center fixed;
  background-size: cover;
  min-height: 300px;
  position: relative;
  overflow: hidden; }
  #services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(155, 233, 255, 0.8); }

#showcase-inner {
  background: url(../img/school_bg.jpg) no-repeat top center fixed;
  background-size: cover;
  position: relative;
  overflow: hidden;
  min-height: 200px; }
  #showcase-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(155, 233, 255, 0.8); }
  #showcase-inner.showcase-search {
    min-height: 270px; }

#ruler-inner {
  background: url(../img/school_bg2.png) no-repeat top center fixed;
  background-size: cover;
  position: relative;
  overflow: hidden;
  min-height: 200px; }
  #ruler-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(155, 233, 255, 0.3); }

#work {
  padding: 6rem 0; }

.listing-preview a {
  position: relative; }

@media (max-width: 991px) {
  #showcase {
    padding-top: 4rem; }
    #showcase h1 {
      font-size: 40px; }
  .hide-md-down {
    display: none; } }

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem; }
    #showcase h1 {
      font-size: 40px; }
    #showcase p {
      display: none; }
  #top-bar {
    text-align: center; }
    #top-bar .social {
      text-align: center !important; } }

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px; }
  #showcase-inner h1 {
    font-size: 40px; } }

.expand-card {
  transition: 200ms linear; 
}

.expand-card:hover {
  transform: scale(1.1);
}

/* HIDE RADIO */
input[type="radio"][id^="cb"]{
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
input[type="radio"][id^="cb"] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
input[type="radio"][id^="cb"]:checked + img {
  outline: 2px solid #f00;
}